*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: sans-serif;
}
h1{
    text-align: center;
}
.fivestarsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 15px;
    flex-direction: row-reverse;
}
.fivestarsContainer input{
    display: none;
}
.fivestarsContainer label {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    background-color: blueviolet;
    border-radius: 15px;
    transition: 300ms all;
}
 
input:checked ~ label,
input:hover ~ label
{
    background-color: yellow;
}

input#fiveStars1:checked ~ label,
input#fiveStars1:hover ~ label{
    background-color: red;
    transform: rotate(360deg);
 
}